<header class="navbar justify-content-end justify-content-sm-between">
    <h1>Form</h1>
</header>

<nav>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a <%= pageId === 'home' ? 'active' : null %> href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a <%= pageId === 'register' ? 'active' : null %> href="/register" class="nav-link">Register</a>
        </li>
        <li class="nav-item">
            <a <%= pageId === 'login' ? 'active' : null %> href="/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
            <a <%= pageId === 'contact' ? 'active' : null %> href="/contact" class="nav-link">Contact</a>
        </li>
    </ul>
</nav>