<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/head'); %>
    </head>
    <body>
        <main>
            <section class="jumbotron">
                <div class="container">
                    <h1>Contact Form</h1>
                </div>
            </section>

            <section class="container">

            </section>
        </main>
    </body>
</html>